body {
	background-image: url('../images/background-razmit.png') !important;
	background-size: 100vw 100vh;
}

#banner_header {
	background-image: url('../images/desing.png');
    background-position-y: 7%;
    background-size: 92vw 57vh;

}

#services_list_container {
	margin-left: 34vw;
	width: 34vw;
	margin-top: 24vh;
}

ul#services_list {
	list-style: none;
}

li.site_development_service {
	display: block;
	width: 40%;
	margin: 0.5vh 1%;
	padding: 0 0 0 5%;
	background: url('../images/li_knot.png') no-repeat;
	float: left;
	font-size: 2.3vmin;
	cursor: pointer;
}

#title-text {


}
#title {
    overflow: auto;
    word-break: break-all;
    margin-top: -51vh;
    margin-left: 29.5vw;
    width: 40vw;
    height: 9vh;
    text-align: left;
    position: absolute;

}
#text {


}

#content {
    overflow: auto;
    word-break: break-all;
    margin-top: -45vh;
    margin-left: 29.5vw;
    width: 40vw;
    height: 12vh;
    text-align: left;
    position: absolute;
}
#close {
    width: 1vw;
    height: 2vh;
    border-radius: 2em;
    position: absolute;
    margin-top: -98.4vh;
    margin-left: 71.8vw;
}
.amazingcarousel-nav{
    margin-left: 9vw !important;
    margin-top: -0.5vh !important;
    position: absolute;
    top: auto !important;
    right: auto !important;
}
.amazingcarousel-prev{
    margin-right: 34.5vw !important;
    margin-top: 6vh !important;
    position: absolute;
}
.amazingcarousel-next{
    margin-right: -3vw !important;
    margin-top: 6vh !important;
    position: absolute;
}
#slaider {
    overflow: hidden;
    word-break: break-all;
    margin-top: -31vh;
    margin-left: 29.5vw;
    width: 40vw;
    height: 24vh;
    text-align: center;
    position: absolute;
    align-content: left;
}
.wonderplugincarousel{
    width: 34.1vw !important;
    max-width: 36vw !important;
}