body {
	background-image: url('../images/background-razmit.png') !important;
	background-size: 100vw 100vh;
}

#banner_header {
	background-image: url('../images/infographics.png');
    background-position-y: 4vh;
    background-position-x: 0.5vw;
    background-size: 92vw 57vh;
}




#services_list_container {
	margin-left: 34vw;
	width: 34vw;
	margin-top: 24vh;
}

ul#services_list {
	list-style: none;
}

li.site_development_service {
	display: block;
	width: 40%;
	margin: 0.5vh 1%;
	padding: 0 0 0 5%;
	background: url('../images/li_knot.png') no-repeat;
	float: left;
	font-size: 2.3vmin;
	cursor: pointer;
}

#title-text {


}
#title {
    overflow: auto;
    word-break: break-all;
    margin-top: -51vh;
    margin-left: 29.5vw;
    width: 22vw;
    height: 6vh;
    text-align: left;
    position: absolute;

}
#text {
    overflow: auto;
    word-break: break-all;
    margin-top: -50vh;
    margin-left: 56.5vw;
    width: 13vw;
    height: 42vh;
    text-align: left;
    position: absolute;

}

#content {
    overflow: auto;
    word-break: break-all;
    margin-top: -45vh;
    margin-left: 29.5vw;
    width: 22vw;
    height: 30vh;
    text-align: left;
    position: absolute;
}
#close {
	width: 1vw;
	height: 2vh;
	border-radius: 2em;
	position: absolute;
	margin-top: -98.4vh;
	margin-left: 71.8vw;
}



.button_order_service {
	font-family: Myriad Pro;
	margin-left: 57.1vw;
	font-weight: bold;
	text-align: center;
	position: absolute;
	display: block;
	background: none;
	cursor: pointer;
	color: white;
	margin-top: 19.9vh;
	text-shadow: 0px 1px 2px #670;
	font-size: 2vmin;
	font-weight: bold;
}
#a123 {
    background-image: url('../images/123.png');
    position: absolute;
    width: 4vw;
    height: 37vh;
    background-size: 100% 100%;
    margin-left: 52vw;
    margin-top: 49vh;
}

